<%#= render "shared/errors", obj: @entry %>

<div class="c-input">

  <% if current_user && @message.message_text %>
  <h3 class="c-batch--disabled">
		<span>リクエスト</span>
	</h3>
  <div class="c-input__box"><%= form.text_area :message_text, :readonly => true %></div>
  <% else %>
  <h3 class="c-batch--secondary">
		<span>リクエストを送る</span>
	</h3>
  <div class="c-input__box"><%= form.text_area :message_text %></div>
  <% end %>
</div>

<% if current_user && @message.message_text %>

<div class="c-input">
  <h3 class="c-batch--secondary">
		<span>アンサー</span>
	</h3>
  <div class="c-input__box"><%= form.text_area :answer_text, id: "c-validation__area", class: "form-control" %></div>
  <p id="c-validation__text"><span id="c-validation__count">0</span>/238</p>
</div>

<% if current_user.provider === "twitter" %>
<div class="c-switch">
  <%= form.label :twitter_flag, class: "c-switch__lable" do %>
  <%= form.check_box :twitter_flag, :as => :boolean, class: "c-switch__input" %>
  <span class="c-switch__content"></span>
  <span class="c-switch__circle"></span>
  <% end %>
  <p class="c-switch__text">twitterへ投稿します</p>
</div>
<% end %>

<% end %>

