<%#= render "shared/errors", obj: @entry %>

<table class="attr">
  <tr>
    <th width="80"><%= form.label :message_text %></th>
    <td><%= form.text_field :message_text, size: 50 %></td>
  </tr>
  <% logger.debug("このページは読み込まれています") %>
  <% logger.debug(@message.message_text.inspect) %>
  <% logger.debug("//このページは読み込まれています") %>
  <% if current_user && @message.message_text %>
  <tr>
    <th><%= form.label :answer_text %></th>
    <td><%= form.text_area :answer_text, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :music_url %></th>
    <td><%= form.text_area :music_url, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.check_box :twitter_flag, :as => :boolean%></th>
    <td><%= form.label :twitter_flag %></td>
  </tr>
  <% end %>
</table>
