<p>
  <%= link_to "質問の作成", :new_user_message %>
</p>

<p><%= @user.name %>さんへの質問</p>

<%= form_for [@user, @message], url: user_messages_path do |form| %>
<%= render "form", form: form %>
<p><%= form.submit %></p>
<% end %>

<% if @messages.present? %>
  <% @messages.each do |message| %>
    <p><%= truncate(message.message_text, length: 80) %><br>
    <%if message.answer_text.blank? %>
      <p>質問の回答がありません。</p>
    <% else %>
      <p><%= message.answer_text %></p>
      <p>質問の回答があります。</p>
    <% end %>

    <%if message.music_url.blank? %>
      <p>音源の回答がありません。</p>
    <% else %>
      <p><a href="<%= message.music_url %>" target="_blank"><%= message.music_url %></a></p>
      <p>音源の回答があります。</p>
    <% end %>

  <%= link_to "もっと読む", user_message_path(@user.monofy_id, message) %>
</p>
<% end %>
<%#= will_paginate @messages %>
<% else %>
<p>記事がありません。</p>
<% end %>
