<!-- <p>
<%#= link_to "質問の作成", :new_user_message %>
</p> -->

<%= form_for [@user, @message], url: user_messages_path do |form| %>
<%= render "form", form: form %>
<div class="c-btn--accent">
	<%= form.submit id: "c-validation__entry" %>
</div>
<% end %>

<div class="p-message">
	<h3 class="c-batch--secondary">
		<span>届いたリクエスト</span>
	</h3>

	<% if @messages.present? %>
	<ul class="c-message">
		<% @messages.each do |message| %>
		<li class="c-message__item">
			<%= link_to user_message_path(@user.monofy_id, message), class: "c-message__item__link" do %>
			<p class="c-message__item__title"><%= message.message_text %></p>
			<p class="c-message__item__btn"><i class="fas fa-caret-right"></i> もっとみる</p>
			<% end %>
		</li>
		<% end %>
		<% else %>
		<li class="c-message__item">
			<%= link_to user_messages_path(@user.monofy_id), class: "c-message__item__link", data: {"turbolinks"=>false} do %>
			<p><%=@user.name%>さんにリクエストを送ろう！</p>
			<% end %>
		</li>
	</ul>
	<% end %>
	<%#= will_paginate @messages %>

</div>
