<!-- <p>
<%#= link_to "質問の作成", :new_user_message %>
</p> -->

<%= form_for [@user, @message], url: user_messages_path do |form| %>
	<%= render "form", form: form %>
	<div class="c-btn">
	<%= form.submit %>
</div>
<% end %>

<div class="p-message">
	<h3 class="c-title--middle"><%=@user.monofy_id%>さんへの質問</h3>

	<% if @messages.present? %>
	<ul class="c-message">
		<% @messages.each do |message| %>
		<li class="c-message__item">
			<%= link_to user_message_path(@user.monofy_id, message), class: "c-message__item__link" do %>
			<p class="c-message__item__title"><%= message.message_text %></p>
			<p class="c-message__item__btn"><i class="fas fa-caret-right"></i> もっとみる</p>
			<% end %>
		</li>
		<% end %>
	</ul>
	<%#= will_paginate @messages %>
	<% else %>
	<p>記事がありません。</p>
	<% end %>

</div>
