<% if @message.answer_text || @message.music_url %>
<div class="c-answer__item">
	<h2 class="c-answer__item__text"><%= @user.monofy_id %>さんの回答</h2>
	<%if @message.answer_text %>

	<p class="c-answer__item__title"><%= raw Rinku.auto_link(@message.answer_text, :all, 'target="_blank"') %></p>
	<% end %>
	<%if @message.music_url %>
	<!-- <p class="c-answer__item__link">
		<a href="<%= @message.music_url %>" target="_blank"><%= @message.music_url %></a>
	</p> -->
	<% end %>
</div>
<% end %>

<div class="c-message">
	<div class="c-message__item">
		<div class="c-message__item__link">
			<p class="c-message__item__title"><%= @message.message_text %></p>
		</div>
	</div>
</div>

<% if current_user == @message.author %>
<div class="c-btn">
	<%= link_to "回答する", edit_user_message_path(@user.monofy_id, @message) %>
</div>
<% end %>

