<h2 class="c-title">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<dl class="p-table">

  <dt><%= f.label :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= f.label :monofy_id %></dt>
  <dd><%= f.text_field :monofy_id %></dd>

  <dt><%= f.label :email %></dt>
  <dd><%= f.email_field :email, autocomplete: "email" %></dd>

  <dt><%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </dt>
  <dd><%= f.password_field :password, autocomplete: "new-password" %></dd>

  <dt><%= f.label :password_confirmation %></dt>
  <dd><%= f.password_field :password_confirmation, autocomplete: "new-password" %></dd>

</dl>

<div class="c-btn">
  <%= f.submit %>
</div>
<% end %>

<%- if controller_name != 'sessions' %>
<div class="c-link">
  <i class="fas fa-caret-right"></i> <%= link_to "ログインする", new_session_path(resource_name) %>
</div>
<% end -%>

<%#= render "devise/shared/links" %>
