<h2 class="c-title">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="p-form--edit">

  <div class="c-form-input-text">
    <%= f.text_field :name, placeholder: "表示する名前" %>
  </div>

  <div class="c-form-input-text">
    <%= f.text_field :monofy_id, placeholder: "Monofy ID" %>
  </div>

  <div class="c-form-input-text">
    <%= f.email_field :email, placeholder: "メールアドレス" %>
  </div>

  <div class="c-form-input-text">
    <%= f.password_field :password, placeholder: "パスワード（6文字以上）" %>
  </div>

  <div class="c-form-input-text">
    <%= f.password_field :password_confirmation, placeholder: "パスワード（確認用）" %>
  </div>

</div>

<div class="c-btn--accent">
  <%= f.submit "登録する" %>
</div>
<% end %>

<%- if controller_name != 'sessions' %>
<div class="c-link">
  <i class="fas fa-caret-right"></i> <%= link_to "ログインする", new_session_path(resource_name) %>
</div>
<% end -%>

<%#= render "devise/shared/links" %>
