<h2 class="c-title"><%=current_user.name%>さんのマイページ</h2>

<%if user_signed_in? %>
<div class="c-img--circle" style="background-image: url(<%= current_user.image %>)"></div>
<dl class="p-table">
	<dt>表示名</dt>
	<dd><%=current_user.name%></dd>
	<dt>Monofy ID</dt>
	<dd><%=current_user.monofy_id%></dd>
	<dt>プロフィール</dt>
	<dd><%=current_user.profile%></dd>
</dl>

<div class="c-btn--twitter">
	<%= link_to edit_user_registration_path do %>
	<i class="far fa-edit"></i> アカウント編集
	<% end %>
</div>

<div class="c-link">
	<i class="fas fa-caret-right"></i> <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか?" } %>
</div>
<%end%>
