<h2 class="c-title">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<dl class="p-table">
<dt><%= f.label :email %></dt>
<dd><%= f.email_field :email, autocomplete: "email" %></dd>
<dt><%= f.label :password %></dt>
<dd><%= f.password_field :password, autocomplete: "current-password" %></dd>
</dl>

<% if devise_mapping.rememberable? -%>
<div class="c-form-checkbox">
<%= f.check_box :remember_me %>
<%= f.label :remember_me %>
</div>
<% end -%>

<div class="c-btn--accent u-mt25">
  <%= f.submit "ログイン" %>
</div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div class="c-link">
  <i class="fas fa-caret-right"></i> <%= link_to "パスワード再発行", new_password_path(resource_name) %><br />
</div>
<% end -%>

<%#= render "devise/shared/links" %>
