<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <header>
    <nav>
      <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'ログインする', logins_login_path %>
      <%= link_to '登録する', logins_sign_up_path %>
      <% end %>
    </nav>
  </header>

  <%= render "shared/header" %>
  <%= yield %>
</body>
</html>
